.about__section {
    background-color: var(--main-background-color);
    padding: 80px 0;
    margin-bottom: 30px;
}

.about__content {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about h2 {
    margin-bottom: 10px;
}

.about__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-top: 40px; */
}

.about__text {
    flex: 1;
    text-align: center;
}

.about__text p:last-child {
    font-style: italic;
}
@media (max-width: 768px){
    .about__section{
        padding: 40px 0;
    }
    .about__content{
        padding: 0 20px;
    }
}