.hospitals-page__main-section{
    margin: 50px auto;
    padding: 10px 40px;
    display: flex;
    background-color: white;
}
.hospitals-page__main-section h3{
    font-size: 25px;
}
.hospitals-page__main-section-text-container{
        width: 60%;
}
.hospitals-page-main-section__paragraph {
        margin: 10px 0;
}
.hospitals-page-main-section__why-choose {
         margin: 20px 0;
}
.hospitals-page-main-section__bullet-points {
        margin-top: 10px;
}
.hospitals-page-main-section__bullet-points li{
    margin-left: 20px;
}
.hospitals-page-main-section__bullet-points li:not(:last-child){
    margin-bottom: 10px;
}
.hospitals-page-main-section__services {
        margin: 20px 0;
}
.hospitals-page-main-section__photos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 45%;
}
.hospitals-page-main-section__photo-container-1 {
    margin: 20px auto;
    width: 90%;
}
.hospitals-page-main-section__photo-container-2 {
    width: 90%;
    margin: 0 auto;
}