@import "common.css";
@import "header.css";
@import "get-strated.css";
@import "about-us.css";
@import "services.css";
@import "testimonials.css";
@import "contact.css";
@import "footer.css";
@import "hospital-page.css";
@import "school-page.css";
@import "thank-you-contact-form.css";