.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.service {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row; /* Визначаємо напрямок (рядок) для блоків послуг */
    align-items: center; /* Вертикальне вирівнювання */
    width: 95%;
    height: 350px;
    border-radius: 15px;
}

.service img {
    width: 450px;
    max-height: 300px;
    margin-right: 20px;
}

.service h2 {
    font-size: 28px;
    margin: 40px auto;
}

.service p {
    font-size: 20px;
    margin: 10px 20px;
    line-height: 26px;
    text-align: left;
}
