.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.service {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row; /* Визначаємо напрямок (рядок) для блоків послуг */
    align-items: center; /* Вертикальне вирівнювання */
    width: 95%;
    height: 350px;
    border-radius: 15px;
}

.service img {
    width: 450px;
    max-height: 300px;
    margin-right: 20px;
}

.service h2 {
    margin: 40px auto;
}
.service-content{
    padding: 10px 20px;
    text-align: left;
}
/* .services__link div{
    text-align: left;
    margin-top: 20px;
    width: 200px;
    border: 7px dotted darkgoldenrod;
}
.services__link div span:hover::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--main-accent-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    animation: underlineSlide 0.3s forwards ease-out;
}
@keyframes underlineSlide {
    to {
        width: 100%;
        left: 0;
    }
} */
.service a:hover::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--main-accent-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    animation: underlineSlide 0.3s forwards ease-out;
}
@keyframes underlineSlide {
    to {
        width: 100%;
        left: 0;
    }
}
.service a {
    color: #006a80;
    text-decoration: none;
}
